:root {
  --body-color: #fcfafa;
  --content-wrapper: 1020px;
  --search-height: 3rem;
  --card-width: 215px;
  --slider-btn-hover: rgba(43, 43, 218, 0.281);
}

* {
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  font-family: Calibri, Arial, Helvetica, sans-serif;
  background-color: var(--body-color);
  caret-color: transparent;
}

input:focus {
  caret-color: initial;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.transparent {
  opacity: 0;
}

.overflow_hidden {
  overflow: hidden;
}

.load_img {
  height: 100%;
}

.wrapper {
  max-width: var(--content-wrapper);
  margin-left: auto;
  margin-right: auto;
}

.button {
  height: 50px;
  max-height: 100%;
  padding: 0 14px 0 20px;
  box-sizing: border-box;
  color: #eee;
  font-size: 1.4rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  background-color: #3761c3;
  border-radius: 2px;
  border: none;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  -moz-user-select: none;
  user-select: none;
  flex-shrink: 0;
  transition: all 0.2s;
}

.button:hover {
  padding-top: 5px;
  padding-bottom: 13px;
  box-shadow: inset 0 -4px 4px 2px rgba(0, 0, 0, 0.5),
    0 3px 5px 0px rgba(0, 0, 0, 0.5);
  background-position: center 20%;
}

.button:active {
  padding-top: 10px;
  padding-bottom: 6px;
  box-shadow: inset 0 3px 4px 2px rgba(0, 0, 0, 0.5);
  background-position: center 70%;
}

.header,
footer {
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
  text-align: center;
}

.footer {
  position: static;
  bottom: 0;
}

.header--title {
  font-size: 2rem;
}

.main {
  flex-grow: 1;
  box-sizing: border-box;
}

.search--container {
  width: calc(100% - 2 * 20px);
  position: relative;
}

.search {
  width: 100%;
  height: var(--search-height);
  margin-top: 30px;
  display: flex;
  justify-content: stretch;
  border: 1px solid #0005;
  border-radius: 3px;
  background-color: white;
}

.keyboard--container {
  width: calc(100% + 2 * 20px);
  height: 220px;
  margin-top: 5px;
  position: relative;
  left: -20px;
  background-color: rgb(207, 207, 235);
  font-size: 3.5vw;
  z-index: 1;
  transition: height 0.3s, opacity 0.3s;
}

.keyboard--container-hidden {
  height: 0;
  opacity: 0;
  font-size: 0rem;
}

.keyboard--container-hidden > .keyboard > .key-row > .keyboard--button {
  border: none;
}

.keyboard--button,
.letter {
  width: 50px;
  height: 100%;
  padding: 0;
  color: black;
  font-size: 1em;
  background-color: rgb(223, 223, 223);
  border: #bbbbbb solid 1px;
  border-radius: 10px;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  outline: none;
  transition: 0.3s;
}

.keyboard--button:hover {
  box-shadow: 0px 5px 7px -5px rgba(0, 0, 0, 0.75);
}

.keyboard--button:active,
.button_active {
  box-shadow: inset 0px 0px 13px 0px rgba(0, 0, 0, 0.75) !important;
  transition: 0.2s;
}

.functional {
  background-color: #3761c3;
}

.key-row {
  width: 100%;
  height: 18.5%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.keyboard {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.backspace {
  width: 130px;
}

.tab {
  width: 60px;
}

.enter {
  width: 80px;
}

.space {
  width: 400px;
  flex-basis: 30%;
}

.shiftleft,
.shiftright {
  width: 115px;
}

.controlleft,
.controlright {
  width: 164px;
}

.altleft,
.altright {
  width: 113px;
}

.capslock {
  width: 120px;
}

.lang {
  width: 90px;
  background-color: blueviolet;
}

.search--img,
.search--clear_button,
.search--keyboard_button,
.search--mic_button {
  width: var(--search-height);
  height: 100%;
  flex-shrink: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  transition: opacity 0.2s, background-size 0.2s;
}

.search--img {
  display: none;
  background-image: url("../../assets/ico/search.png");
  background-size: 130%;
}

.search--loading {
  height: 100%;
  background: white;
}

.search--clear_button,
.search--keyboard_button,
.search--mic_button {
  border: none;
  cursor: pointer;
}

.search--clear_button {
  position: absolute;
  right: 0;
  background-image: url("../../assets/ico/clear.png");
  background-size: 110%;
}

.search--mic_button {
  padding: 0 20px;
  background-image: url("../../assets/ico/mic.png");
  background-size: 64%;
}

.search--keyboard_button {
  width: calc(1.2 * var(--search-height));
  background-image: url("../../assets/ico/keyboard.png");
  background-size: 80%;
}

.search--clear_button:hover,
.search--keyboard_button:hover,
.search--mic_button:hover {
  opacity: 1;
}

.search--clear_button:active {
  background-size: 70%;
}

.search--mic_button:active {
  background-size: 45%;
}

.search--keyboard_button:active {
  background-size: 60%;
}

.search--submit_button {
  padding-left: 3px;
  padding-right: 3px;
  letter-spacing: 0;
}

.search--input_container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}

.search--input {
  width: 70px;
  max-width: 100%;
  flex-grow: 1;
  padding: 0 var(--search-height) 0 3px;
  box-sizing: border-box;
  border: none;
  border-radius: inherit;
  font-size: 1.6rem;
  flex-shrink: 1;
}

.notification {
  height: 30px;
  margin-top: 20px;
  font-size: 2.3rem;
  text-align: center;
  color: rgb(228, 36, 36);
}

.slider--container {
  width: 100%;
  max-width: 1230px;
  height: 100%;
  margin: 20px auto;
}

.slider {
  width: 100%;
  display: flex;
}

.slider--left,
.slider--right {
  width: 52px;
  flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  box-shadow: inset 0 0 5px 3px var(--body-color);
  opacity: 0.8;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.2s, opacity 0.1s;
}

.slider--left {
  order: -1;
  background-image: url("../../assets/ico/slider.png");
  transform: rotateZ(180deg);
}

.slider--right {
  background-image: url("../../assets/ico/slider.png");
}

.slider--left:hover,
.slider--right:hover {
  background-color: var(--slider-btn-hover);
}

.slider--left:active,
.slider--right:active {
  opacity: 1;
}

.slider--content {
  min-width: var(--card-width);
  height: 467px;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

.slider--content:hover + .slider--left {
  background-color: var(--slider-btn-hover);
}

.slider--content:hover ~ .slider--right {
  background-color: var(--slider-btn-hover);
}

.slider--progress {
  width: 100%;
  height: 10px;
  margin-top: 20px;
  border-radius: 5px;
  -webkit-appearance: none;
}

.slider--progress::-webkit-progress-bar {
  background-color: rgba(55, 97, 195, 0.075);
  border-radius: 5px;
}

.slider--progress:indeterminate {
  height: 0;
}

.slider--progress:indeterminate::-webkit-progress-value {
  box-shadow: none;
}

.slider--progress::-webkit-progress-value {
  background-color: rgb(55, 97, 195);
  border-radius: 5px;
  box-shadow: 0 0 10px 3px rgba(55, 97, 195, 0.75);
}

.cards_container {
  max-width: 100%;
  width: min-content;
  margin: 0 auto;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  transition: opacity 1s;
}

.card {
  width: var(--card-width);

  /* slider with 1 cards */
  padding: 15px calc((100% - var(--card-width)) / 2);
  flex-shrink: 0;
  font-size: 1.6rem;
  font-weight: bolder;
  text-align: center;
  user-select: none;
  transition: opacity 1s;
}

.card--title {
  line-height: 3em;
  display: block;
  color: inherit;
  font-size: 1.1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card--title:hover {
  text-decoration: none;
}

.card--img_container {
  width: 100%;
  height: 319px;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.card--img {
  width: 100%;
  height: 100%;
  background-color: var(--body-color);
  object-fit: contain;
  object-position: center;
  -webkit-user-drag: none;
  transition: opacity 1s;
}

.card--rating {
  width: 100%;
  height: 3rem;
  margin-top: 0.3em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating--star {
  height: 100%;
  margin-right: 5px;
}

.rating--text {
  padding-right: 2em;
}

.footer--links {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
}

.footer--a {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
}

.footer--a:hover {
  text-decoration: underline;
}

@media (min-width: 500px) {
  .keyboard--container {
    width: 100%;
    left: 0;
  }

  .search--img {
    display: block;
  }

  .search--submit_button {
    padding: 0 14px 0 20px;
    letter-spacing: 5px;
  }

  .slider--left,
  .slider--right {
    width: 120px;
  }
}

/* slider with 2 cards */
/* 120px - slider button. 215px - cards width. 30px - cards gap */
@media (min-width: calc(120px * 2 + 2 * (215px + 30px))) {
  .card {
    padding: 15px calc((100% - 215px * 2) / 2 / 2);
  }

  .keyboard--container {
    font-size: 2.3rem;
  }

  .keyboard--container-hidden {
    font-size: 0;
  }
}

/* slider with 3 cards */
/* 120px - slider button. 215px - cards width. 30px - cards gap */
@media (min-width: calc(120px * 2 + 3 * (215px + 30px))) {
  .card {
    padding: 15px calc((100% - 215px * 3) / 2 / 3);
  }
}

/* slider with 4 cards */
/* 120px - slider button. 215px - cards width. 30px - cards gap */
@media (min-width: calc(120px * 2 + 4 * (215px + 30px))) {
  .card {
    padding: 15px;
  }
}
